
<header>
  <img src="/logo.png" width="200"><!--NÃO PRECISA COLOCAR A PASTA PUBLIC-->
  <nav>
  
    <a href='/view/usuarios'> Usuário: {{usuario.[0].nome}}</a> <!--ESPECIFICA O ID DO USUÁRIO A SER EXIBIDO-->
    
    
    
  </nav>
</header>