
<header>
  <div id="cabecalho" class="bg-primary">
    <nav class="navbar">
      <div class="container-fluid">
        
        <img src="/logo.png" class="rounded" width="580">
      

        <form class="d-flex">
          <a href='/view/usuario'><img src="/usuário.png" width="25" class="me-1"></a>
          <a class="nav-link active me-3 text-light" href='/view/usuario'> Usuário</a> <!--ESPECIFICA O ID DO USUÁRIO A SER EXIBIDO-->
          <a class="nav-link active me-2 text-light" aria-current="page" data-toggle="modal" data-target="#exampleModalCenter" href="#">Ajuda</a>
          <a class="nav-link active me-2 text-light" aria-current="page" href="/logout">Sair</a>
        </form>
      </div>
    </nav>
  </div>
</header>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Ajuda</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p>Olá!</p>
        <p class="justificado">Se você tem alguma dúvida ou precisa de assistência, estamos aqui para ajudar. Por favor, entre em contato conosco através do e-mail: <strong>locadoradeautomoveis@suporte.com.br</strong>. Teremos o maior prazer em responder suas perguntas e fornecer o suporte necessário.</p>
        <p>Obrigado pela preferência!</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>