<div class="sidebar">
  <ul>
    
    <li><a href="/view/clientes"><img src="/clientes.png" width="15">Clientes</a></li>
    <li><a href="/view/veiculos"><img src="/veiculos.png" width="15">Veículos</a></li>
    <li><a href="/view/locacao"><img src="/locacao.png" width="15">Locações</a></li>
  </ul>
</div>
