<!--TEMPLATE PADRÃO DA APLICAÇÃO-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de veículos</title>

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    
    
<body>
    {{> header}}<!--CABEÇALHO-->

        <hr>
        
    {{{body}}} <!--fornece todo o corpo html para os arquivos .handlebars.-->
    
    <hr>

    {{> footer}} <!--RODAPÉ-->
    
</body>

</html>
