<!-- metodo GET e SET são responsaveis por enviar os dados do formulávio para o bachend-->
<!-- metodo GET: envia esses dados pela url, o POST não-->
 
<h1>Adicionar Veículo</h1>
<form action="/cadastro/veiculo" method="post">
  <div>
    <div>
    <label>Marca:</label>
    <input type="text" name="marca"  placeholder="Digite a marca">
  </div>

<div>
    <label>Modelo:</label>
    <input type="text" name="modelo" placeholder="Digite o modelo">
</div>

<div>
    <label>Ano:</label>
    <input type="text" name="ano" placeholder="Digite o ano">
</div>  
<div>
    <label>Cor:</label>
    <input type="text" name="cor" placeholder="Digite a cor">
</div>
<div>
    <label>Valor Diária:</label>
    <input type="text" name="valordiaria" placeholder="Digite o valorda diário do veículo">
</div>
   
 <br>
 <div class="btn-salvar">
      <button > <img src="/salvar.png" width="15"> Salvar</button>
    </div>
   
  </div>
</form>

 
<a href="/"><button> <img src="/voltar.png" width="15"> Voltar</button></a>


