<!-- metodo GET e SET são responsaveis por enviar os dados do formulávio para o bachend-->
<!-- metodo GET: envia esses dados pela url, o POST não-->
 
<h1>Editar Veículo</h1>
<form name="formularioeditar" action="/editar/{{veiculo.id}}" method="post">
  <div>
    <div>
    <label>Proprietário:</label>
    <input type="text" name="proprietario"  placeholder="Digite o propritário">
  </div>

<div>
    <label>Modelo:</label>
    <input type="text" name="modelo" placeholder="Digite o modelo">
</div>

<div>
    <label>Ano:</label>
    <input type="text" name="ano" placeholder="Digite o ano">
</div>  
<div>
    <label>Fabricante:</label>
    <input type="text" name="fabricante" placeholder="Digite o fabricante">
</div>
<div>
    <label>Placa:</label>
    <input type="text" name="placa" placeholder="Digite a placa">
</div>
<div>
    <label>Renavam:</label>
    <input type="text" name="renavam" placeholder="Digite o renavam">
</div>   

    <button> <img src="/salvar.png" width="15"> Salvar</button>

    
  </div>
</form>



 <a href="/"><button> <img src="/voltar.png" width="15"> Voltar</button></a>

