<!-- metodo GET e SET são responsaveis por enviar os dados do formulávio para o bachend-->
<!-- metodo GET: envia esses dados pela url, o POST não-->
 
<h1>Adicionar Veículo</h1>
<form action="/dados" method="post">
  <div>
    <input type="text" name="modelo" placeholder="Digite o modelo">
    <input type="text" name="ano" placeholder="Digite o ano">
    <input id="cadastrar" type="submit" value="Cadastrar" />
  </div>
</form>
<a href="/dados ">Voltar</a>