<!-- metodo GET e SET são responsaveis por enviar os dados do formulávio para o bachend-->
<!-- metodo GET: envia esses dados pela url, o POST não-->
 
<h1>Adicionar Veículo</h1>
<form action="/cadastro" method="post">
  <div>
    <label>Proprietário:</label>
    <input type="text" name="proprietario" placeholder="Digite o propritário">

    <label>Modelo:</label>
    <input type="text" name="modelo" placeholder="Digite o modelo">

    <label>Ano:</label>
    <input type="text" name="ano" placeholder="Digite o ano">
    
    <label>Fabricante:</label>
    <input type="text" name="fabricante" placeholder="Digite o fabricante">

    <label>Placa:</label>
    <input type="text" name="placa" placeholder="Digite a placa">

    <label>Renavam:</label>
    <input type="text" name="renavam" placeholder="Digite o renavam">

    <button> <img src="/salvar.png" width="15"> Salvar</button>
  </div>
</form>

<a href="/"><button> <img src="/voltar.png" width="15"> Voltar</button></a>