{{> header}}

<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            {{> menuLateral}}
        </div>
    

        <div class="col align-self-center mx-auto text-primary">
            <h2 class="text-center"><strong>Seja muito Bem-vindo!</strong></h2>
            <br>
            <h4 class="justificado">Somos a sua escolha confiável em locação de veículos. Oferecemos uma frota moderna, atendimento excepcional e tarifas competitivas. Reserve agora e embarque em uma experiência de locação memorável. Estamos aqui para tornar sua jornada mais fácil e prazerosa.</h4>
        </div>

        <div class="col align-self-center mx-auto text-center">
            <div class="text-center">
                <img src="/home.jpg" class="rounded" width="600" class="me-1">
            </div>
        </div>
    </div>
</div>