<div>
    <div class="row">
        <div class="col-3">
            {{> menuLateral}}
        </div>
        <div class="col-9">
            <h2 class="text-center"> SEJA BEM-VINDO! </h2>
            <h4 class="text-center"> Essa é a sua tela inicial.</h4>
        </div>
  </div>
</div>