<div>
    <div class="row">
        <div class="col-2">
            {{> menuLateral}}
        </div>

        <div class="col-10">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="logo.png" class="card-img-top">
                   
                 
                    <div class="card-body">
                        <p class="card-title">Marca</p>
                        <p class="card-text">Modelo</p>
                        <p class="card-text">Ano</p>
                        <p class="card-text">Cor</p>
                        <p class="card-text">Valor da Diária</p>
                        <a href="/cadastro/locacao" class="btn btn-primary d-md-flex justify-content-center">Alugar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>