/*Animação feita no menu lateral*/
.sidebar button 
{
    margin-left: -10px;
    margin-right: -10px;
    text-align: left;
}
.sidebar a 
{
    margin-left: 30px;
}

/* Formatando rodapé */
.footer{
    position: fixed;
    bottom: 0;
    background-color: #0D6EFD;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.button-container{
    display: flex;
    justify-content: center;
}

.custom-btn{
    flex: 1;
    margin-right: 10px;
}