
button{
    background-color: rgb(43, 221, 162);

}
body{
    background-color: rgb(231, 240, 235);
}
#atualizar{
    background-color: rgb(43, 221, 162);
}
#cadastrar{
    background-color: rgb(43, 221, 162);
}
h1{
    text-align: center;
}

