<div>
    <div class="row">
        <div class="col-2">
        {{> menuLateral}}
        </div>
        
        <div class="col-10 container w-50 justify-content-center">
            <br>
            <h2>Nova Locação</h2>
            <br>
            
         
                <div>
                    <h1>{{locacao.dataInicio}}</h1>

                      <form action="/buscar/cliente" method="post">

                    <div class="form-outline mb-4">
                       
                        <label class="form-label">CPF:</label>
                        <div class="input-group mb-3">
                            <input name="cpf" type="text" class="form-control" placeholder="Digite o CPF" aria-label="Recipient's username" aria-describedby="button-addon2" required>
                            <button class="btn btn-salvar btn-outline-secondary" type="submit">Buscar</button>
                        </div>  
                      
                    </div>
                      </form>  

                       <form action="/buscar/veiculo" method="post">

                    <div class="form-outline mb-4">
                        <label class="form-label">Placa Veículo:</label>
                        <div class="input-group mb-3">
                            <input name="placa" type="text" class="form-control" placeholder="Digite a placa" aria-label="Recipient's username" aria-describedby="button-addon2" required>
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Buscar</button>
                        </div>    
                    </div>
                    </form>

                      <form action="/cadastro/locacao" method="post">

                    <div class="form-outline mb-4">
                        <label class="form-label">Data Início:</label>
                        <input class="form-control" type="date" name="dataInicio" required>
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label">Data Fim:</label>
                        <input class="form-control" type="date" name="dataFim" required>
                    </div>
                    <br>

                    <div>
                        <button class="btn-salvar btn btn-primary">Salvar</button>
                        <a href="/view/locacao"><button type="button" class="btn btn-secondary">Cancelar</button></a>
                    </div>   
                     </form>             
                </div>
               
        </div>
    </div>
</div>
