<div>
    <div class="row">
        <div class="col-3">
            {{> menuLateral}}
        </div>
        <div class="col-9 align-self-center mx-auto text-center">
            <h2>Locação cadastrada com sucesso!</h2>
            <br>
            <a class="btn btn-primary" href="/cadastro/locacao" role="button"><i class="bi bi-plus-circle"></i> Novo</a>
            <a class="btn btn-primary" href="/view/locacao" role="button"><i class="bi bi-list"></i> Lista de Locações</a>
        </div>
  </div>
</div>