<!-- metodo GET e SET são responsaveis por enviar os dados do formulávio para o backend-->
<!-- metodo GET: envia esses dados pela url, o POST não-->

<div class="container w-25 my-5">
  <h1 class="text-center">Cadastro de Usuário</h1>
  <form action="/cadastro/usuario" method="post">
    <div class="form-outline mb-4">
      <label class="form-label" for="loginName">Nome:</label>
      <input type="text" name="nome" class="form-control" placeholder="Digite seu nome" required>
    </div>

    <div class="form-outline mb-4">
      <label class="form-label" for="loginName">Email:</label>
      <input type="text" name="email" class="form-control" placeholder="Digite o seu e-mail" required>
    </div>

    <div class="form-outline mb-4">
      <label class="form-label" for="loginPassword">Senha:</label>
      <input type="password" name="senha" id="loginPassword" class="form-control" placeholder="Digite sua senha" required>
    </div>

    <br>

    <div class="button-container">
        <button class="custom-btn btn-salvar btn btn-primary"><img src="/cadastro.png" width="15">Cadastrar</button>
    </div>
  </form>
  <br>
  <div class="button-container">
    <a href="/">
      <button class="custom-btn btn btn-primary"> <img src="/voltar.png" width="15">Voltar</button>
    </a>
  </div>
</div>