<body>

  <div class="container w-25 my-5">
    <div class="tab-content">
      <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
        <form action="/home" method="post">
          <h1 class="text-center">Iniciar sessão</h1>
          <p class="text-center">Faça o login no seu painel de administração.</p>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="loginName">E-mail *</label>
            <input type="email" name="email" id="loginName" class="form-control" required />
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="loginPassword">Senha *</label>
            <input type="password" name="senha" id="loginPassword" class="form-control" required />
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block form-control">Entrar</button>
          <br>
          <br>

          <!-- Register buttons -->
          <div class="text-center">
            <p>Ainda não tem uma conta? <a href="/cadastro/usuario">Criar conta</a></p>
          </div>

        </form>
      </div>
    </div>
  </div>
</body>