<body>
  <div class="bg-primary">
    <nav class="navbar">
      <div class="container-fluid">
        <h1 class="navbar-brand text-light">LOCADORA DE AUTOMÓVEIS</h1>

        <form class="d-flex">
          <a class="nav-link active me-2 text-light" aria-current="page" href="#">Ajuda</a>
          <a class="nav-link active me-2 text-light" aria-current="page" href="./login.html">Entrar</a>
          <a class="nav-link active me-2 text-light" aria-current="page" href="./registrise.html">Criar conta</a>
        </form>
      </div>
    </nav>
  </div>

  <div class="container w-25 my-5">
    <div class="tab-content">
      <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
        <form>
          <h1 class="text-center">Esqueceu a sua senha?</h1>
          <p class="text-center">Digite o endereço de email associado à sua conta.</p>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="loginName">E-mail *</label>
            <input type="email" id="loginName" class="form-control" />
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block form-control">Redefinir senha</button>
          <br>
          <br>

          <!-- Register buttons -->
          <div class="text-center">
            <p>Ainda não tem uma conta? <a href="./registrise.html">Criar conta</a></p>
          </div>       
        </form>
      </div>
    </div>
  </div>
</body>