{{> header}}

<div class="container my-5">
        <div class="col-9 align-self-center mx-auto text-center">
            <h2 class="text-center">Usuário cadastrado com sucesso!</h2>
            <br>
            <a class="btn btn-primary" href="/" role="button"><iclass="custom-btn btn btn-primary"></i> Login</a>
        </div>
</div>