<body>
  <div class="bg-primary">
    <nav class="navbar">
      <div class="container-fluid">
        <h1 class="navbar-brand text-light">LOCADORA DE AUTOMÓVEIS</h1>

        <form class="d-flex">
          <a class="nav-link active me-2 text-light" aria-current="page" href="#">Ajuda</a>
          <a class="nav-link active me-2 text-light" aria-current="page" href="./login.html">Entrar</a>
        </form>
      </div>
    </nav>
  </div>

    <div class="align-self-center mx-auto text-center my-5" style="height: 473px;">
        <br><br><br><br><br>
        <h2>Usuário cadastrado com sucesso!</h2>
        <br>
        <a class="btn btn-primary" href="/" role="button"><i class="bi bi-box-arrow-in-right"></i> Login</a>
    </div>  
</body>