<!-- metodo GET e SET são responsaveis por enviar os dados do formulávio para o bachend-->
<!-- metodo GET: envia esses dados pela url, o POST não-->
 
<div>
  <div class="row">
    <div class="col-2">
      {{> menuLateral}}
    </div>
    
    <div class="col-10 container w-50 justify-content-center">
      <h2>Novo Automóvel</h2>
      <br>
      <form action="/cadastro/veiculo" method="post">
        <div>
          <div>
            <label class="form-label">Marca:</label>
            <input class="form-control" type="text" name="marca"  placeholder="Digite a marca">
          </div>

          <div>
            <label class="form-label">Modelo:</label>
            <input class="form-control" type="text" name="modelo" placeholder="Digite o modelo">
          </div>

          <div>
            <label class="form-label">Ano:</label>
            <input class="form-control" type="text" name="ano" placeholder="Digite o ano">
          </div>

          <div>
            <label class="form-label">Cor:</label>
            <input class="form-control" type="text" name="cor" placeholder="Digite a cor">
          </div>

          <div>
            <label class="form-label">Placa:</label>
            <input class="form-control" type="text" name="placa" placeholder="Digite a placa">
          </div>

          <div>
            <label class="form-label">Renavam:</label>
            <input class="form-control" type="text" name="renavam" placeholder="Digite o renavam">
          </div>

          <div>
            <label class="form-label">Valor Diária:</label>
            <input class="form-control" type="text" name="valordiaria" placeholder="Digite o valorda diário do veículo">
          </div>
          <br>

          <div>
            <button class="btn-salvar btn btn-primary">Salvar</button>
            <a href="/view/veiculos"><button type="button" class="btn btn-secondary">Cancelar</button></a>
          </div>
          
        </div>
      </form>
    </div>
  </div>
</div>


