<!-- metodo GET e SET são responsaveis por enviar os dados do formulávio para o bachend-->
<!-- metodo GET: envia esses dados pela url, o POST não-->
 
<div>
  <div class="row">
    <div class="col-2">
      {{> menuLateral}}
    </div>
    
    <div class="col-10 container w-50 justify-content-center mb-4 vh-100">
      <br>
      <h2>Novo Automóvel</h2>
      <br>
      <form action="/cadastro/veiculo" method="post" class="overflow-auto">
        <div>
          <div class="form-outline mb-4">
            <label class="form-label">Marca:</label>
            <input class="form-control" type="text" name="marca"  placeholder="Digite a marca" required>
          </div>

          <div class="form-outline mb-4">
            <label class="form-label">Modelo:</label>
            <input class="form-control" type="text" name="modelo" placeholder="Digite o modelo" required>
          </div>

          <div class="form-outline mb-4">
            <label class="form-label">Placa:</label>
            <input class="form-control" type="text" name="placa" placeholder="Digite a placa" required>
          </div>

          <div class="form-outline mb-4">
            <label class="form-label">Ano:</label>
            <input class="form-control" type="text" name="ano" placeholder="Digite o ano" required>
          </div>

          <div class="form-outline mb-4">
            <label class="form-label">Cor:</label>
            <input class="form-control" type="text" name="cor" placeholder="Digite a cor" required>
          </div>

          <div class="form-outline mb-4">
            <label class="form-label">Valor Diária:</label>
            <input class="form-control" type="text" name="valordiaria" placeholder="Digite o valorda diário do veículo" required>
          </div>
          <br>

          <div>
            <button class="btn-salvar btn btn-primary">Salvar</button>
            <a href="/view/veiculos"><button type="button" class="btn btn-secondary">Cancelar</button></a>
          </div>          
        </div>
      </form>
    </div>
  </div>
</div>