{{> header}}

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            {{> menuLateral}}
        </div>
        <div class="col-9 align-self-center mx-auto text-center">
            <h2>Dados do veículo atualizados com sucesso!</h2>
            <br>
            <a class="btn btn-primary" href="/view/veiculos" role="button"><i class="bi bi-list"></i> Lista de Automóveis</a>
        </div>
  </div>
</div>