<!-- metodo GET e SET são responsaveis por enviar os dados do formulávio para o bachend-->
<!-- metodo GET: envia esses dados pela url, o POST não-->
 
<div>
  <div class="row">
    <div class="col-2">
      {{> menuLateral}}
    </div>
    
    <div class="col-10 container w-50 justify-content-center">
      <h2>Novo Cliente</h2>
      <form action="/cadastro/cliente" method="post">
        <div>
          <div>
            <label>Nome:</label>
            <input type="text" name="nome"  placeholder="Digite seu nome">
          </div>

          <div>
            <label>CPF:</label>
            <input type="text" name="cpf" placeholder="Digite o seu cpf">
          </div>

          <div>
            <label>Email:</label>
            <input type="text" name="email" placeholder="Digite o seu e-mail">
          </div>

          <div>
            <label>Telefone:</label>
            <input type="text" name="telefone" placeholder="Digite seu telefone">
          </div>  

          <div>
            <label>Endereço:</label>
            <input type="text" name="endereco" placeholder="Digite o seu endereço">
          </div>

          <div>
            <button class="btn-salvar btn btn-primary">Salvar</button>
            <a href="/view/clientes"><button type="button" class="btn btn-secondary">Cancelar</button></a>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>


