{{> header}}

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            {{> menuLateral}}
        </div>
        <div class="col-9 align-self-center mx-auto text-center">
            <h2>Cliente deletado com sucesso!</h2>
            <br>
            <a class="btn btn-primary" href="/cadastro/cliente" role="button"><i class="bi bi-plus-circle"></i> Novo</a>
            <a class="btn btn-primary" href="/view/clientes" role="button"><i class="bi bi-list"></i> Lista de Clientes</a>
        </div>
  </div>
</div>